<div class="container-fluid">
  <div class="row px-4 py-3 border">
    <% if(notice.present?) %>
      <div class="row">
        <p class="alert alert-success text-center p-1" role="alert">
          <%= notice %>
        </p>
      </div>
    <% end %>
    <div class="row mb-3 justify-content-around align-items-center">
      <div class="col">
        <%= link_to("Back to Jobs", jobs_path(), class: "btn btn-link p-0") %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row align-items-center">
          <div class="col">
            <div class="display-6"><%= @job.title %></div>
            <div class="fs-4 mb-3">
              <%= @job.company %> - <%= @job.location %>
            </div>
          </div>
        </div>
        <p class="lead"><%= @job.description %></p>
      </div>
      <div class="col-2 d-flex flex-column gap-3">
        <%= link_to("Apply", "#", class: "btn btn-success") %>
        <%= link_to("Save", "#", class: "btn btn-primary") %>
        <%= link_to("Share", "#", class: "btn btn-warning") %>
        <%= link_to("Edit", edit_job_path(@job), class: "btn btn-secondary") %>
        <%= link_to("Delete", job_path(@job),
                    data: { turbo_method: :delete, 
                            confirm: "Are you sure you want to delete this job?" },
                    class: "btn btn-danger") %>
      </div>
    </div>
  </div>
</div>
